body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

#visuallinks {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
#visuallinks a {
  margin-right: 30px;
}

a, a:visited, a:hover {
  text-decoration: none;
}
